# The Research Archive of Tomoko Tchuke
_Scholar of the Studium, Keeper of the Moon, Pursuer of Forgotten Threads_

> “Truth lies not in the loudest voice, but in the quiet patterns of the weave.”

Welcome to my compendium of written observations, field reports, and theoretical studies.

Please explore the following recovered papers and ongoing works:

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> – <em>{{ post.date | date: "%B %d, %Y" }}</em>
    </li>
  {% endfor %}
</ul>
